Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /str/public/
  # servir archivos reales tal cual
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
</IfModule>
